@charset "utf-8";

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.light{
    text-align: right;
}

.justify{
    text-align: justify;

}
.image{
    text-align: center;
}

img{
    width: 30pxl;
}